################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
/FSharpTraining

# FAKE

.fake

# paket ignores

.paket/*
!.paket/paket.bootstrapper.exe

packages
paket-files