################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FSharpTraining

# paket ignores

.paket/*
!.paket/paket.bootstrapper.exe

packages
paket-files